---
import Picture from '@components/util/ImgComponent_01.astro';
// import { Image } from 'astro:assets';
import Img_1 from '@images/img_05.jpg';
import Img_1Sp from '@images/img_05_sp.jpg';
---

<section class="mainSection g-mainSection js-toggleClass" id="fact">
  <div class="scene">
    <div class="inner">
      <div class="bgImg">
        <figure>
          <Picture pc={Img_1} sp={Img_1Sp} alt="" loading="eager" />
        </figure>
      </div>
      <!-- /.bgImg -->
      <div class="content g-mrgStyle_02">
        <div class="inner">
          <div class="factNav">
            <ul>
              <li>
                <button
                  type="button"
                  class="factBtn style_01 js-setFactModal"
                  data-target="factGeeky"
                >
                  <span class="labelTx">GEEKY</span>
                  <span class="labelIcon">
                    <span></span>
                    <span></span>
                  </span>
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="factBtn style_02 js-setFactModal"
                  data-target="factCrafted"
                >
                  <span class="labelTx">CRAFTED</span>
                  <span class="labelIcon">
                    <span></span>
                    <span></span>
                  </span>
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="factBtn style_03 js-setFactModal"
                  data-target="factPlayful"
                >
                  <span class="labelTx">PLAYFUL</span>
                  <span class="labelIcon">
                    <span></span>
                    <span></span>
                  </span>
                </button>
              </li>
            </ul>
          </div>
          <!-- /.factNav -->
          <h2 class="pageRead g-ttlStyle_01">
            <span class="style_02">すべてのプロダクトは、</span>
            <span class="style_02"
              >この約束のもと生み出され、<br class="sp" />ACTIVESを魅了する。</span
            >
          </h2>
          <!-- /.pageRead -->
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.inner -->
  </div>
  <!-- /.scene -->
</section>
<!-- /.mainSection -->

<style lang="scss">
  @use 'sass:math';
  @use 'src/styles/global' as *;
  @use 'src/styles/utils' as *;
  ////////////////////
  // @media screen and (min-height: $breakH + 1px) {
  .scene {
    height: 100vh;
  }
  @media screen and (min-width: $break-point-middle) {
    .scene {
      height: 200vh;
    }
  }
  // }
  ////////////////////
  // @media screen and (min-height: $breakH + 1px) {
  .scene.modalScene {
    height: 100vh;
  }
  // }
  ////////////////////
  .content {
    transform: translateY(math.div(28, 20) + em);
    align-items: center;
    :global(.is-modal) & {
      opacity: 0;
    }
  }
  @media screen and (max-width: $break-point-middle-sp) {
    .content {
      align-items: flex-start;
      padding-top: get_sp($grid_01);
      > .inner {
        position: relative;
        flex-direction: column;
        gap: get_sp(10);
      }
    }
  }
  ////////////////////
  .factNav {
    line-height: math.div(160, 200) + em;
    letter-spacing: math.div(-4, 200) + em;
    text-transform: uppercase;
    @include fz_vw(80);
    text-align: left;
    span {
      font-weight: 700;
    }
  }
  @media screen and (min-width: $break-point-middle) {
    .factNav {
      text-align: center;
      @include fz_vwpcmax(200);
    }
  }
  ////////////////////
  .factBtn {
    @include btnsetting;
    color: $white;
    position: relative;
    transition: 0.3s;
    left: 0;
    @media (any-hover: hover) {
      &:hover {
        left: 0.05em;
        .labelIcon {
          opacity: 1 !important;
        }
      }
    }
    .labelIcon {
      position: absolute;
      top: math.div(-30, 200) + em;
      display: block;
      width: get_sp(24);
      height: get_sp(24);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $key-color1;
      > span {
        display: block;
        width: get_sp(14);
        height: get_sp(2);
        background-color: $white;
        position: absolute;
        &:last-child {
          transform: rotate(90deg);
        }
      }
    }
    &.style_01 {
      .labelIcon {
        right: math.div(-70, 200) + em;
        animation: Blink 2s ease-in-out infinite;
      }
      @media (any-hover: hover) {
        &:hover {
          .labelIcon {
            animation-play-state: paused;
          }
        }
      }
    }
    &.style_02 {
      .labelIcon {
        right: math.div(-60, 200) + em;
        animation: Blink 2s 0.2s ease-in-out infinite;
      }
      @media (any-hover: hover) {
        &:hover {
          .labelIcon {
            animation-play-state: paused;
          }
        }
      }
    }
    &.style_03 {
      .labelIcon {
        right: math.div(-60, 200) + em;
        animation: Blink 2s 0.4s ease-in-out infinite;
      }
      @media (any-hover: hover) {
        &:hover {
          .labelIcon {
            animation-play-state: paused;
          }
        }
      }
    }
  }
  @media screen and (min-width: $break-point-middle) {
    .factBtn {
      .labelIcon {
        top: math.div(-20, 200) + em;
        width: math.div(40, 200) + em;
        height: math.div(40, 200) + em;
        > span {
          width: math.div(20, 200) + em;
          height: 3px;
        }
      }
      &.style_01 {
        $gap: math.div(-50, 200) + em;
        transform: translateX(#{$gap});
        .labelIcon {
          right: math.div(-60, 200) + em;
        }
      }
      &.style_02 {
        $gap: math.div(100, 200) + em;
        transform: translateX(#{$gap});
        .labelIcon {
          right: math.div(-40, 200) + em;
        }
      }
      &.style_03 {
        $gap: math.div(-150, 200) + em;
        transform: translateX(#{$gap});
        .labelIcon {
          right: math.div(-35, 200) + em;
        }
      }
    }
  }
  ////////////////////
  @media screen and (min-width: $break-point-middle) {
  }
</style>
