---
import Picture from '@components/util/ImgComponent_01.astro';
import { Image } from 'astro:assets';
import Img_1 from '@images/img_05.jpg';
import Img_1Sp from '@images/img_05_sp.jpg';

import ModalImg_1 from '@images/fact-img_01.jpg';
import ModalImg_2 from '@images/fact-img_02.jpg';
import ModalImg_3 from '@images/fact-img_03.jpg';
---

<section class="mainSection g-mainSection js-toggleClass" id="fact">
  <div class="scene">
    <div class="inner">
      <div class="bgImg">
        <figure>
          <Picture pc={Img_1} sp={Img_1Sp} alt="" loading="eager" />
        </figure>
      </div>
      <!-- /.bgImg -->
      <div class="content">
        <div class="inner">
          <div class="factNav">
            <ul>
              <li>
                <button type="button" class="factBtn style_01 js-setSlider">
                  <span class="labelTx">GEEKY</span>
                  <span class="labelIcon">
                    <span></span>
                    <span></span>
                  </span>
                </button>
              </li>
              <li>
                <button type="button" class="factBtn style_02 js-setSlider">
                  <span class="labelTx">CRAFTED</span>
                  <span class="labelIcon">
                    <span></span>
                    <span></span>
                  </span>
                </button>
              </li>
              <li>
                <button type="button" class="factBtn style_03 js-setSlider">
                  <span class="labelTx">PLAYFUL</span>
                  <span class="labelIcon">
                    <span></span>
                    <span></span>
                  </span>
                </button>
              </li>
            </ul>
          </div>
          <!-- /.factNav -->
          <h2 class="pageRead g-ttlStyle_01">
            <span class="style_02">人生を豊かにする発見を求める</span>
            <span class="style_02">都市のアクティブな大人たち</span>
          </h2>
          <!-- /.pageRead -->
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.inner -->
    <div class="factModalContent">
      <div class="factScroller">
        <div class="scrollItem"></div>
        <div class="scrollItem"></div>
        <div class="scrollItem"></div>
      </div>
      <!-- /.factScroller -->
      <div class="modalScene g-modalScene">
        <div class="modalContent">
          <div class="inner">
            <div class="factSlider">
              <div class="inner">
                <section class="item">
                  <div class="eyecatch">
                    <figure>
                      <Image
                        src={ModalImg_1}
                        alt=""
                        width={1000}
                        densities={[1, 2, 3]}
                        loading="eager"
                      />
                    </figure>
                  </div>
                  <!-- /.eyecatch -->
                  <div class="childContent">aaa</div>
                  <!-- /.childContent -->
                </section>
                <!-- /.item -->
                <section class="item">
                  <div class="eyecatch">
                    <figure>
                      <Image
                        src={ModalImg_2}
                        alt=""
                        width={1000}
                        densities={[1, 2, 3]}
                        loading="eager"
                      />
                    </figure>
                  </div>
                  <!-- /.eyecatch -->
                  <div class="childContent">1aaa</div>
                  <!-- /.childContent -->
                </section>
                <!-- /.item -->
                <section class="item">
                  <div class="eyecatch">
                    <figure>
                      <Image
                        src={ModalImg_3}
                        alt=""
                        width={1000}
                        densities={[1, 2, 3]}
                        loading="eager"
                      />
                    </figure>
                  </div>
                  <!-- /.eyecatch -->
                  <div class="childContent">12aaa</div>
                  <!-- /.childContent -->
                </section>
                <!-- /.item -->
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.factSlider -->
          </div>
          <!-- /.inner -->
        </div>
        <!-- /.modalContent -->
      </div>
      <!-- /.modalScene -->
    </div>
    <!-- /.factModalContent -->
  </div>
  <!-- /.scene -->
</section>
<!-- /.mainSection -->

<style lang="scss">
  @use 'sass:math';
  @use 'src/styles/global' as *;
  @use 'src/styles/utils' as *;
  ////////////////////
  @media screen and (min-height: $breakH + 1px) {
    .scene {
      min-height: 200vh;
    }
  }
  ////////////////////
  .scene.modalScene {
    height: 0;
  }
  @media screen and (min-height: $breakH + 1px) {
    .scene.modalScene {
      height: 100vh;
    }
  }
  ////////////////////
  .content {
    align-items: center;
    :global(.is-modal) & {
      opacity: 0;
    }
  }
  ////////////////////
  .factNav {
    text-align: center;
    line-height: math.div(160, 200) + em;
    letter-spacing: math.div(-4, 200) + em;
    text-transform: uppercase;
    @include fz_vwpcmax(200);
    span {
      font-weight: 700;
    }
  }
  ////////////////////
  .factBtn {
    @include btnsetting;
    color: $white;
    position: relative;
    .labelIcon {
      position: absolute;
      top: math.div(-25, 200) + em;
      display: block;
      width: math.div(30, 200) + em;
      height: math.div(30, 200) + em;
      display: flex;
      align-items: center;
      justify-content: center;
      > span {
        display: block;
        width: 100%;
        height: 6px;
        background-color: $key-color1;
        position: absolute;
        &:last-child {
          transform: rotate(90deg);
        }
      }
    }
    &.style_01 {
      $gap: math.div(-50, 200) + em;
      transform: translateX(#{$gap});
      .labelIcon {
        right: math.div(-40, 200) + em;
      }
    }
    &.style_02 {
      $gap: math.div(100, 200) + em;
      transform: translateX(#{$gap});
      .labelIcon {
        right: math.div(-30, 200) + em;
      }
    }
    &.style_03 {
      $gap: math.div(-150, 200) + em;
      transform: translateX(#{$gap});
      .labelIcon {
        right: math.div(-30, 200) + em;
      }
    }
  }
  ////////////////////
  .factModalContent {
    pointer-events: none;
    .factScroller {
      position: relative;
      padding-top: 200vh;
      padding-bottom: 100vh;
    }
    &.is-active {
      pointer-events: all;
    }
    .scrollItem {
      height: 100vh;
      // background-color: #ff0000;
      // &:nth-child(2) {
      //   background-color: #ffff00;
      // }
    }
  }
  ////////////////////
  .modalContent {
    position: relative;
    // opacity: 0;
    // :global(.is-active) & {
    //   opacity: 1;
    // }
  }
  ////////////////////
  .factSlider {
    text-align: center;
    > .inner {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
    }
    img {
      @include imgset;
      width: auto;
      height: math.div(287, $design-h) * 100vh;
      aspect-ratio: 220 / 287;
      filter: grayscale(1);
      transition: 0.3s;
    }
    .item {
      &.is-active {
        img {
          height: math.div(436, $design-h) * 100vh;
          filter: grayscale(0);
        }
      }
    }
  }
  ////////////////////
  @media screen and (min-width: $break-point-middle) {
  }
</style>
