---
import { Image } from 'astro:assets';
import Arrow from '@images/icon-arrow_01.svg';
---

<div class="g-modalScroller" data-lenis-prevent-wheel>
  <div class="modalWrapper g-modalWrapper">
    <div class="mainContent">
      <section class="modalContent g-modalContent style_01 g-mrgStyle_02" id="factGeeky">
        <div class="col-ttl">
          <h3 class="g-ttlStyle_03 modalTtl g-modalTtl style_01">GEEKY</h3>
          <!-- /.g-ttlStyle_03 -->
        </div>
        <!-- /.col-ttl -->
        <div class="col">
          <p class="g-ttlStyle_01 modalSubTtl g-modalSubTtl style_02">
            <span class="style_02">ハマった者しか</span>
            <span class="style_02">辿り着けない視点</span>
          </p>
          <!-- /.pageRead -->
          <div class="g-summaryStyle_01 modalSummary g-modalSummary style_01">
            <p>
              「こんな商品が欲しかった！」その感動はどうやって生まれるのか？<br
              />世の中が欲しいものをつくっても、そこに驚きはない。<br
              />誰よりも深く、その分野にどっぷりハマる。<br
              />そうすれば、誰も辿り着けないインサイトが見えてくる。<br
              />いうなれば“オタク”ならではの視点。BRIEFINGの商品はそこから生まれなければならない。
            </p>
          </div>
          <!-- /.g-summaryStyle_01 -->
          <div class="modalBtnSection g-modalBtnSection style_01">
            <button type="button" class="g-btnStyle_03 js-factMove" data-target="factPlayful">
              <span class="labelIcon">
                <Image src={Arrow} alt="" width={5} densities={[1, 2, 3]} loading="eager" />
              </span>
              <!-- /.labelIcon -->
              <span class="labelTx">PLAYFUL</span>
              <!-- /.labelTx -->
            </button>
            <button
              type="button"
              class="g-btnStyle_03 style_01 js-factMove"
              data-target="factCrafted"
            >
              <span class="labelIcon">
                <Image src={Arrow} alt="" width={5} densities={[1, 2, 3]} loading="eager" />
              </span>
              <!-- /.labelIcon -->
              <span class="labelTx">CRAFTED</span>
              <!-- /.labelTx -->
            </button>
          </div>
          <!-- /.modalBtnSection -->
        </div>
        <!-- /.col -->
      </section>
      <!-- /.modalContent -->
      <section class="modalContent g-modalContent style_01 g-mrgStyle_02" id="factCrafted">
        <div class="col-ttl">
          <h3 class="g-ttlStyle_03 modalTtl g-modalTtl style_01">CRAFTED</h3>
          <!-- /.g-ttlStyle_03 -->
        </div>
        <!-- /.col-ttl -->
        <div class="col">
          <p class="g-ttlStyle_01 modalSubTtl g-modalSubTtl style_02">
            <span class="style_02">行動を引き出す</span>
            <span class="style_02">機能美とデザイン</span>
          </p>
          <!-- /.pageRead -->
          <div class="g-summaryStyle_01 modalSummary g-modalSummary style_01">
            <p>
              人間工学的に“正しい”だけで、心は動かない。BRIEFINGが掲げるのは「ACTIVE USE DESIGN」。<br
              />使いやすさを超え、人の行動を引き出すためのデザイン。<br
              />無骨で堅牢な素材を、日本ならではの丁寧なクラフトで仕立てることで、<br
              />持つたびに気分が高まり、身体が自然と動き出す。すべての時間をアクティブに変えていく。<br
              />その機能美と心高まる使い心地こそが、BRIEFINGのクラフトだ。
            </p>
          </div>
          <!-- /.g-summaryStyle_01 -->
          <div class="modalBtnSection g-modalBtnSection style_01">
            <button type="button" class="g-btnStyle_03 js-factMove" data-target="factGeeky">
              <span class="labelIcon">
                <Image src={Arrow} alt="" width={5} densities={[1, 2, 3]} loading="eager" />
              </span>
              <!-- /.labelIcon -->
              <span class="labelTx">GEEKY</span>
              <!-- /.labelTx -->
            </button>
            <button
              type="button"
              class="g-btnStyle_03 style_01 js-factMove"
              data-target="factPlayful"
            >
              <span class="labelIcon">
                <Image src={Arrow} alt="" width={5} densities={[1, 2, 3]} loading="eager" />
              </span>
              <!-- /.labelIcon -->
              <span class="labelTx">PLAYFUL</span>
              <!-- /.labelTx -->
            </button>
          </div>
          <!-- /.modalBtnSection -->
        </div>
        <!-- /.col -->
      </section>
      <!-- /.modalContent -->
      <section class="modalContent g-modalContent style_01 g-mrgStyle_02" id="factPlayful">
        <div class="col-ttl">
          <h3 class="g-ttlStyle_03 modalTtl g-modalTtl style_01">PLAYFUL</h3>
          <!-- /.g-ttlStyle_03 -->
        </div>
        <!-- /.col-ttl -->
        <div class="col">
          <p class="g-ttlStyle_01 modalSubTtl g-modalSubTtl style_02">
            <span class="style_02">ACTIVESを駆り立てる</span>
            <span class="style_02">遊び心</span>
          </p>
          <!-- /.pageRead -->
          <div class="g-summaryStyle_01 modalSummary g-modalSummary style_01">
            <p>
              正しいだけのプロダクトに心は踊らない。<br
              />つくり手が宿した企み、問い、余韻。人はその遊び心を敏感に感じとる。<br
              />“日本人にしかつくれないMADE IN
              USA”。ロンハーマンがそう評したミルスペックのトートバッグに始まり、<br
              />街とゴルフ場どちらでも着られるシンプルなウェア。移動中もアクティブな気分を高めるソフトキャリー。<br
              />すべてにPLAYFULは息づき、受け継がれている。
            </p>
          </div>
          <!-- /.g-summaryStyle_01 -->
          <div class="modalBtnSection g-modalBtnSection style_01">
            <button type="button" class="g-btnStyle_03 js-factMove" data-target="factCrafted">
              <span class="labelIcon">
                <Image src={Arrow} alt="" width={5} densities={[1, 2, 3]} loading="eager" />
              </span>
              <!-- /.labelIcon -->
              <span class="labelTx">CRAFTED</span>
              <!-- /.labelTx -->
            </button>
            <button
              type="button"
              class="g-btnStyle_03 style_01 js-factMove"
              data-target="factGeeky"
            >
              <span class="labelIcon">
                <Image src={Arrow} alt="" width={5} densities={[1, 2, 3]} loading="eager" />
              </span>
              <span class="labelTx">GEEKY</span>
            </button>
          </div>
          <!-- /.modalBtnSection -->
        </div>
        <!-- /.col -->
      </section>
      <!-- /.modalContent -->
    </div>
    <!-- /.mainContent -->
    <div class="handler">
      <div class="closeItem"></div>
      <!-- /.closeItem -->
      <div class="item" data-target="factGeeky"></div>
      <div class="item" data-target="factCrafted"></div>
      <div class="item" data-target="factPlayful"></div>
      <div class="closeItem"></div>
      <!-- /.closeItem -->
    </div>
    <!-- /.handler -->
  </div>
  <!-- /.modalWrapper-->
</div>
<!-- /.g-mordalScroller -->

<style lang="scss">
  @use 'sass:math';
  @use 'src/styles/global' as *;
  @use 'src/styles/utils' as *;
  ////////////////////
  @media screen and (max-width: $break-point-middle-sp) {
    .modalSummary {
      text-align: left;
      br {
        display: none;
      }
    }
  }
  ////////////////////
  @media screen and (min-width: $break-point-middle) {
  }
</style>
