---
const { pageClass } = Astro.props;
// import Bnr from '@components/modules/BnrEc.astro';

const linkPrefix = pageClass === 'home' ? '' : '/';
---

<div id="menuPanel" data-lenis-prevent-wheel>
  <div class="closeArea js-menu-close"></div>
  <!-- /.closeArea -->
  <div class="menuSection">
    <div class="menuContent" id="navPanel">
      <div class="inner">
        <nav>
          <ul class="globalNav">
            <li>
              <a href={`${linkPrefix}#about`}>
                <span class="labelEn">ABOUT</span>
                <span class="labelJa">NEWTRONについて</span>
              </a>
            </li>
            <li>
              <a href={`${linkPrefix}#media`}>
                <span class="labelEn">MEDIA</span>
                <span class="labelJa">メディア</span>
              </a>
            </li>
            <li>
              <a href={`${linkPrefix}#features`}>
                <span class="labelEn">FEATURES</span>
                <span class="labelJa">商品特徴</span>
              </a>
            </li>
            <li>
              <a href={`${linkPrefix}#ingredients`}>
                <span class="labelEn">INGREDIENTS</span>
                <span class="labelJa">配合成分</span>
              </a>
            </li>
            <li>
              <a href={`${linkPrefix}#designedFor`}>
                <span class="labelEn">DESIGNED FOR</span>
                <span class="labelJa">（仮）どんな人飲む？</span>
              </a>
            </li>
            <li>
              <a href={`${linkPrefix}#faq`}>
                <span class="labelEn">FAQ</span>
                <span class="labelJa">よくあるご質問</span>
              </a>
            </li>
          </ul>
          <!-- /.globalNav -->
        </nav>
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.menuContent -->
  </div>
  <!-- /.menuSection -->
</div>
<!-- /#menuPanel -->

<style lang="scss" is:global>
  @use 'sass:math';
  @use 'src/styles/global' as *;
  @use 'src/styles/utils' as *;
  ////////////////////
  #menuPanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    overflow: auto;
    overscroll-behavior-y: contain;
    /*スクロールバー非表示（IE・Edge）*/
    -ms-overflow-style: none;
    /*スクロールバー非表示（Firefox）*/
    scrollbar-width: none;
    opacity: 0;
    z-index: -1;
    @media screen and (min-width: $break-point-middle) {
      backdrop-filter: blur(5px) saturate(100%);
    }
    .menuOpen & {
      opacity: 1;
      z-index: 90;
    }
  }
  ////////////////////
  .closeArea {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  ////////////////////
  .menuSection {
    overflow: hidden;
    width: 100%;
    position: relative;
    min-height: calc(100dvh + 1px);
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    transition: clip-path 0.2s $ease-out-quad;
    .menuStart & {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }
  @media screen and (min-width: $break-point-middle) {
    .menuSection {
      @include vwpxpc2(width, $grid_01);
      min-width: $grid_01 + px;
      margin-left: auto;
      clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
      .menuStart & {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }
  }
  ////////////////////
  .menuContent {
    transform: translateY(100%);
    $gap: get_sp(40);
    min-height: calc(100dvh - #{$gap});
    display: flex;
    align-items: center;
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    > .inner {
      width: 100%;
      padding: get_sp(20) 0;
    }
    &.is-current {
      transform: translateY(0);
      position: relative;
    }
  }
  @media screen and (min-width: $break-point-middle) {
    .menuContent {
      transform: translateX(100%);
      min-height: 100dvh;
      > .inner {
        padding: math.div(100, $design-h) * 100vh 0;
      }
      &.is-current {
        transform: translateX(0);
      }
    }
  }
  ////////////////////
  ////////////////////
  @media screen and (min-width: $break-point-middle) {
  }
</style>
